<div class="text-center m-5">
    <button class="btn btn btn-primary" style="border: solid black 2px; width: 200px;">Home Page</button> <br>
    <button class="m-4 btn btn-primary">Invoice Details</button><br>
    <button class=" btn btn-primary">Invoice List</button>  
</div> 
<div class="container">
    <button class="btn brn-primary">Add</button>
    <button class="btn brn-primary">Add</button>
    <button class="btn brn-primary">Add</button>
    <button class="btn brn-danger">Add</button>
</div>
